* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(180deg, rgb(48, 45, 45), black);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 1.4vw;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

li a:hover {
    background-image: linear-gradient(rgb(75, 70, 70), black);
    text-decoration: underline;
}

@media screen and (max-width: 400px) {
    .li a {
        float: none;
        width: 100%;
    }
}

.btn {
    background-image: linear-gradient(rgb(75, 70, 70), black);
}

.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 10px;
    margin-right: 16px;
    background: #ddd;
    font-size: 1.6vw;
    border: none;
    cursor: pointer;
    border: 2px groove black;
}

.search-container {
    float: right;
}

input[type=text] {
    font-family: 'Open Sans', sans-serif;
    padding: 6px;
    margin-top: 10px;
    font-size: 1.4vw;
    border: 2px groove black;
    width: 20vw;
}

.shop-title {
    position: relative;
    font-family: 'Archivo', sans-serif;
    color: white;
    left: 10%;
    margin-top: 1vw;
    font-size: 1.9em;
    letter-spacing: 0.2em;
}

.apparel-clothes {
    margin-left: 35% !important;
}

.swiper-container {
    margin-top: 5px;
    width: 99%;
    height: 80vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: #ccc;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-slide-text-1 {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 25vw;
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    left: 2%;
    top: 2%;
}

.swiper-slide-text-1 p {
    font-size: 1.75vw;
}

.swiper-slide-text-1 h1 {
    font-size: 2vw;
}

.swiper-slide-text-2 {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 23vw;
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    right: 2%;
    top: 2%;
}

.swiper-slide-text-2 p {
    font-size: 1.75vw;
}

.swiper-slide-text-2 h1 {
    font-size: 2vw;
}

.swiper-slide-text-3 {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 80vw;
    height: 20vh;
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    bottom: 4%;
}

.swiper-slide-text-3 p {
    font-size: 1.4vw;
}

.swiper-slide-text-3 h1 {
    font-size: 2vw;
}

.swiper-slide-text-4 {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 25vw;
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    left: 2%;
    top: 2%;
}

.swiper-slide-text-4 p {
    font-size: 1.75vw;
}

.swiper-slide-text-4 h1 {
    font-size: 2vw;
}

.swiper-slide-text-5 {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 25vw;
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    right: 2%;
    top: 2%;
}

.swiper-slide-text-5 p {
    font-size: 1.75vw;
}

.swiper-slide-text-5 h1 {
    font-size: 2vw;
}

p {
    margin: 10px;
    text-align: justify;
    font-family: "Open Sans", sans-serif;
}

.body-text {
    border-radius: 5px;
    font-size: 1.4em;
}